# Data Visualization for the Car details dataset

## Importing the standard libraries and the dataset

In [4]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
dataset = pd.read_csv('./assets/car-details-for-visualization.csv')

Confirming the dataset is available and correct:

In [6]:
dataset.head()

,brand,year,km_driven,fuel,transmission,seller_type,owner,seats,mileage,engine,max_power,nm,selling_price
0,Maruti,2014,145500,Diesel,Manual,Individual,First Owner,5.0,23.40,1248,74.00,190.00,450000
1,Skoda,2014,120000,Diesel,Manual,Individual,Second Owner,5.0,21.14,1498,103.52,250.00,370000
2,Honda,2006,140000,Petrol,Manual,Individual,Third Owner,5.0,17.70,1497,78.00,124.54,158000
3,Hyundai,2010,127000,Diesel,Manual,Individual,First Owner,5.0,23.00,1396,90.00,219.67,225000
4,Maruti,2007,120000,Petrol,Manual,Individual,First Owner,5.0,16.10,1298,88.20,112.78,130000